.container{
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    margin-top: 200px;
    display: grid;
    place-items: center;
}

.container td{
    height: 40px;
    padding: 4px 10px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.container table{
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-spacing: 0;
}

.container tr{
    position: relative;
}

tr::after {
    content: "  ";
    height: 4px;
    border-radius: 999px;
    width: var(--h-width);
    position: absolute;
    left: 0;
    bottom: -10px;
    /* margin-top: var(--h-height); */
    background-color: #08770c;
    transition: width 1s ease;
  }

