body {
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.expading-box{
    display: flex;
    width: 90vw;
}

.panel{
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
    overflow: hidden;
}

.active{
    flex: 5;
}

.panel>img{
    height: 100%;
}